.body{
    position: relative;
    top: 25vh;
    width: 86%;
    margin: auto;
}
.search{
    width: 55%;
    margin: auto;
    height: 40px;
}
.searchInput{
    width: 82%;
    font-size: 19px;
    padding: 4px;
}
.searchButton{
    width: 7vw;
    font-size: 19px;
    padding: 4px;
    background-color: #c26100;
    border: none;
    color: white;
    border: 2px solid #c26100;
    border-radius: 0px 4px 4px 0;
    font-weight: 400;
}
.searchInput:focus{
    border: 1px solid #c26100 ;
    outline:1px solid #c26100 ;
}
.searchButton:hover{
    background-color: #016034;
    border: 2px solid #016034 ;
}
.cardContainer{
    margin-top: 5vh;
    display: flex;
    flex-wrap: wrap;
    gap: 57px;
}